/* ========================= */
/* DOCK SYSTEM */
/* ========================= */

.nav-wrap {
  position: fixed;
  bottom: 10px;
  left: 12px;
  right: 12px;

  height: 72px;
  padding: 6px;

  background: rgba(255,255,255,0.65);
  backdrop-filter: blur(10px);

  border-radius: 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.10);
  z-index: 100;
}

.nav-item2 {
  flex: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 11px;
  color: #9ca3af;

  height: 60px;

  border-radius: 20px;

  transition: all 0.25s ease;
  cursor: pointer;
}

.nav-item2 svg {
  margin-bottom: 4px;
}

.nav-item2.active {
  background: #ffffff;
  color: #0f7a3b;

  transform: translateY(-24px) scale(1.04);

  height: 76px;

  border-radius: 24px;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.14),
    0 4px 10px rgba(0,0,0,0.06);
}

.nav-item2.active::after {
  content: "";
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  width: 70%;
  height: 6px;

  background: #0f7a3b;

  border-radius: 0 0 16px 16px;
}

.nav-item2.active span {
  font-weight: 600;
}

.nav-item2:active {
  transform: scale(0.96);
}
